{
    "extends": "airbnb",
    "rules": {
        "jsx-quotes": [1, "single"],
        "react/jsx-curly-spacing": [2, "always"],
        "react/prefer-stateless-function": [0],
        "comma-dangle": "off"
    }
}